<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rock-paper-scissors</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css2/style.css">
</head>

<body>
    <div class="container row">
        <div class="player-1 col">
            <header class="d-flex justify-content-center align-items-center">
                <div class="arrow" id="arrow">
                    <img src="static/arrow.png" alt="">
                </div>
                <div class="logo mt-5">
                    <img src="static/logo-1.png" alt="">
                </div>
                <div class="title mt-5">
                    <p>ROCK PAPER SCISSORS</p>
                </div>
            </header>
            <div class="body-content-1">
                <p>PLAYER 1</p>
                <div class="batu-1" id="batu-1">
                    <img src="static/batu.png" alt="">
                </div>
                <div class="kertas-1" id="kertas-1">
                    <img src="static/kertas.png" alt="">
                </div>
                <div class="gunting-1" id="gunting-1">
                    <img src="static/gunting.png" alt="">
                </div>
            </div>
        </div>
        <div class="versus col">
            <div class="letter-vs" id="versus">
                <p>VS</p>
            </div>
            <div class="btn-refresh" id="btn-refresh">
                <img src="static/refresh.png" alt="">
            </div>
        </div>
        <div class="computer col">
            <div class="body-content-2">
                <p>COM</p>
                <div class="batu-2" id="batu-COM">
                    <img src="static/batu.png" alt="">
                </div>
                <div class="kertas-2" id="kertas-COM">
                    <img src="static/kertas.png" alt="">
                </div>
                <div class="gunting-2" id="gunting-COM">
                    <img src="static/gunting.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/jschap4/script.js"></script>

</html>