<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!-- Page 1 -->
    <div class="page-1">
        <nav class="navbar d-flex w-100 align-items-center justify-content-around">
            <div class="left-navbar w-50 d-flex justify-content-around mt-3">
                <div class="logo">
                    <p>LOGO</p>
                </div>
                <div class="navbar-menu d-flex align-items-center">
                    <p>HOME</p>
                    <p>WORK</p>
                    <p>CONTACT</p>
                    <p>ABOUT ME</p>
                </div>
            </div>

            <div class="right-navbar w-50 d-flex align-items-center justify-content-around mt-3">
                <div class="row w-100">
                    <div class="col-6"></div>
                    <div class="col-2"></div>
                    <div class="col-4 d-flex" style="gap: 1rem;">
                        <p>SIGN UP</p>
                        <p>LOGIN</p>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </nav>
        <div class="body-content d-flex flex-column justify-content-center align-items-center">
            <h1>PLAY TRADITIONAL GAME</h1>

            <h3>Experience new traditional game play</h3>

            <button class="btn-content"><a href="/chap4">PLAY NOW</a></button>

            <div class="scroll d-flex flex-column align-items-center">
                <p>THE STORY</p>
                <img src="static/scroll-down.svg" style="width: 20.25px; height: 8.17px;" alt="">
            </div>
        </div>
    </div>

    <!-- Page 2 -->
    <div class="page-2">
        <div class="content-desc w-30 ms-5 d-flex flex-column justify-content-center">
            <h3 style="font-size: 24px;">What's so special?</h3>

            <h1 style="font-size: 56px;">THE GAMES</h1>
        </div>
        <div class="content-img w-70 d-flex align-items-center">
            <img src="static/switch-left.svg" alt="">

            <img style="width: 858px; height: 477px;" src="static/content-img-2.png" alt="">

            <img src="static/switch-right.svg" alt="">
        </div>
        <div class="dot d-flex position-absolute">
            <img src="static/fill-dot.svg" alt="">
            <img src="static/empty-dot.svg" alt="">
            <img src="static/empty-dot.svg" alt="">
            <img src="static/empty-dot.svg" alt="">
            <img src="static/empty-dot.svg" alt="">
        </div>
    </div>

    <!-- Page 3 -->
    <div class="page-3">
        <div class="w-50">
            <div class="position-absolute" style=" border: 1px solid white; height: 128px;
                width: 0; margin-left: 846px; margin-top: 355px;">
            </div>
        </div>
        <div class="content-page-3 w-50">
            <h3 style="font-size: 24px;">What's so special?</h3>

            <h1 style="font-size: 56px;">FEATURES</h1>

            <div class="content-list" style="margin-top: 70.75px;">
                <ul>
                    <li style="list-style-image: url('static/white-list.svg');">TRADITIONAL GAME</li>
                    <p class="mb-5 mt-2">If you miss your childhood, we provide many traditional games here</p>
                    <li class="mb-5" style="list-style-image: url('static/black-list.svg')">GAME SUIT</li>
                    <li style="list-style-image: url('static/black-list.svg')">TBD</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Page 4 -->
    <div class="page-4">
        <div class="content-question d-flex flex-column w-100 align-items-center justify-content-center">
            <p>Can My Computer run this game?</p>
        </div>
        <div class="content-4">
            <div class="system-requirement mb-4">
                <h1>SYSTEM</h1>
                <h1>REQUIREMENTS</h1>
            </div>
            <div class="table-content">
                <table>
                    <tr>
                        <td>
                            <h3>OS:</h3>
                            <p>Windows 7 64-bit only (No OSX support at this time)</p>
                        </td>
                        <td>
                            <h3>PROCESSOR:</h3>
                            <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>MEMORY:</h3>
                            <p>4 GB RAM</p>
                        </td>
                        <td>
                            <h3>STORAGE:</h3>
                            <p>8 GB available space</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h3>GRAPHICS:</h3>
                            <p>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <!-- Page 5 -->
    <div class="page-5 d-flex">
        <div class="left-content w-50 h-100 d-flex flex-column">
            <h1>TOP SCORES</h1>

            <p>This top score from various games provided on this platform</p>

            <button>See more</button>
        </div>
        <div class="right-content d-flex w-50 h-100 justify-content-center align-items-center">
            <div style="
            color: white; 
            height: 600px; 
            width: 600px;
            display: grid;
            grid-template-columns: repeat(3, 130px);
            grid-template-rows: repeat(3, 1fr);
            ">
                <div class="card-page-5" style="grid-column: 2/3; background-color: rgba(255, 255, 255, 0.08);">
                    <div class="card-top d-flex mt-2 ms-2 align-items-center">
                        <div class="d-flex w-75" style="gap: 20px">
                            <div class="profile">
                                <img style="border-radius: 50px;" src="static/profile-img-1.png" alt="">
                            </div>
                            <div class="name">
                                <h1>Evan Lahti</h1>
                                <p>PC Gamer</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around w-25">
                            <img src="static/twitter.svg" alt="">
                        </div>
                    </div>
                    <div class="card-bottom ms-3">
                        <p style="
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        color: #FFFFFF;">“One of my gaming highlights of the year.”</p>
                        <p style="
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        color: #FFFFFF;
                        mix-blend-mode: normal;
                        opacity: 0.5;
                        ">June 18, 2021</p>
                    </div>
                </div>
                <div class="card-page-5" style="grid-row: 2/3; background-color: rgba(255, 255, 255, 0.08);">
                    <div class="card-top d-flex mt-2 ms-2 align-items-center" style="height: 75px;">
                        <div class="d-flex w-75" style="gap: 20px">
                            <div class="profile mt-2">
                                <img style="border-radius: 50px; height: 63px; width: 63px;"
                                    src="static/profile-img-2.png" alt="">
                            </div>
                            <div class="name">
                                <h1>Jada Griffin</h1>
                                <p>Nerdreactor</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around w-25">
                            <img src="static/twitter.svg" alt="">
                        </div>
                    </div>
                    <div class="card-bottom ms-3">
                        <p class="me-5" style="
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        color: #FFFFFF;">“The next big thing in the world of streaming and survival games.”</p>
                        <p style="
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        color: #FFFFFF;
                        mix-blend-mode: normal;
                        opacity: 0.5;
                        
                        ">July 10, 2021</p>
                    </div>
                </div>
                <div class="card-page-5"
                    style="grid-row: 3/4; grid-column: 2/3; background-color: rgba(255, 255, 255, 0.08);">
                    <div class="card-top d-flex mt-2 ms-2 align-items-center" style="height: 75px;">
                        <div class="d-flex w-85" style="gap: 20px">
                            <div class="profile mt-2">
                                <img style="border-radius: 50px; height: 61px; width: 61px;"
                                    src="static/profile-img-3.png" alt="">
                            </div>
                            <div class="name">
                                <h1>Aaron Williams</h1>
                                <p>Uproxx</p>
                            </div>
                        </div>
                        <div class="d-flex w-15 ms-5">
                            <img src="static/twitter.svg" alt="">
                        </div>
                    </div>
                    <div class="card-bottom ms-3">
                        <p class="me-4" style="
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        color: #FFFFFF;
                        ">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
                        <p style="
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        color: #FFFFFF;
                        mix-blend-mode: normal;
                        opacity: 0.5;
                        
                        ">December 24, 2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-6">
        <div class="content-page-6 d-flex">
            <div class="left-page-6 d-flex justify-content-center align-items-center w-50" style="height: 800px;">
                <img style="
                width: 445.47px;
                height: 694.41px;" src="static/statue.png" alt="">
            </div>
            <div class="right-page-6 d-flex flex-column justify-content-center w-50" style="height: 800px;">
                <h3 class="mb-5">Want to stay in touch?</h3>

                <h1>NEWSLETTER</h1>
                <h1>SUBSCRIBE</h1>


                <p class="mt-3">In order to start receiving our news, all you have to do is enter your email address.
                    Everything else
                    will be taken care of by us. We will send you emails containing information about game. We don’t
                    spam.
                </p>

                <div class="register d-flex justify-content-center align-items-center">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Your email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="youremail@binar.co.id">
                    </div>

                    <button class="btn-page-6 mt-3">Subscribe Now</button>
                </div>
            </div>
        </div>
        <div class="footer me-5">
            <div class="footer-menu d-flex justify-content-end">
                <p>MAIN</p>
                <p>ABOUT</p>
                <p>GAME FEATURES</p>
                <p>SYSTEM REQUIREMENTS</p>
                <p>QUOTES</p>

                <img src="static/facebook.svg" alt="">
                <img src="static/twitter2.svg" alt="">
                <img src="static/youtube.svg" alt="">
                <img src="static/twitch.svg" alt="">
            </div>
            <div class="position-absolute" style=" border: 1px solid white; opacity: 0.5; height: 0px;
                width: 1230px; margin-left: 120px; margin-top: 40px;">
            </div>
        </div>
        <div class="ending d-flex justify-content-between">
            <div class="left-ending">
                <p> © 2018 Your Games, Inc. All Rights Reserved</p>
            </div>
            <div class="right-ending">
                <p>Privacy Policy | Terms of Services | Code of Conduct</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>

</body>

</html>