@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: rgba(156, 131, 95, 1);
    background-size: cover;
    width: 100vw;
    height: 960px;
    max-width: 1440px;
    margin-inline: auto;

}

.player-1 .arrow {
    width: 55px;
    height: 87px;
    margin-left: 37px;
    margin-top: 12px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    letter-spacing: 0.1em;
}

.player-1 .logo {
    width: 72px;
    height: 72px;
    margin-left: 10px;
    margin-top: 12px;
}

.player-1 .title {
    width: 410px;
    height: 62px;
    margin-left: 27px;
    margin-top: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #F9B23D;
}

.body-content-1 p {
    height: 94px;
    margin-left: 150px;
    margin-top: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    color: black;
}

.body-content-1 .batu-1 {
    width: 134px;
    height: 92px;
    margin-left: 300px;
    margin-top: 11px;
    cursor: pointer;
}

.body-content-1 .kertas-1 {
    width: 128px;
    height: 92px;
    margin-left: 300px;
    margin-top: 81px;
    cursor: pointer;
}

.body-content-1 .gunting-1 {
    width: 134px;
    height: 160px;
    margin-left: 300px;
    margin-top: 120px;
    cursor: pointer;
}

.versus .letter-vs p {
    height: 186px;
    margin-top: 419px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #BD0000;
}

.versus .btn-refresh img {
    width: 77px;
    height: 71px;
    margin-left: 100px;
    margin-top: 238px;
    margin-bottom: 110px;
    cursor: pointer;
}

.body-content-2 p {
    height: 94px;
    margin-top: 162px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    color: black;
}

.body-content-2 .batu-2 {
    height: 92px;
    margin-left: 80px;
}

.body-content-2 .kertas-2 {
    height: 150px;
    margin-left: 80px;
    margin-top: 81px;
}

.body-content-2 .gunting-2 {
    height: 160px;
    margin-left: 80px;
    margin-top: 81px;
}

.jsclass-p1win {
    color : white;
    width: 271.11px;
    height: 166.93px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.1em;
    transform: rotate(-30.98deg);
    background-color: #4C9654;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 419px;
    padding-top: 30px;
}

.jsclass-comwin {
    color : white;
    width: 271.11px;
    height: 166.93px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.1em;
    transform: rotate(-30.98deg);
    background-color: #4C9654;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 419px;
    padding-top: 50px;
}

.jsclass-draw {
    color : white;
    width: 271.11px;
    height: 166.93px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.1em;
    transform: rotate(-30.98deg);
    background-color: #4C9654;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 419px;
    padding-top: 50px;
}